@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Impact");

:root {
--stdTxt: rgb(13, 13, 13);
--secTxt: white;
--stdBgColor: rgba(255, 255, 255, 1);
--secBgColor: rgba(71, 71, 209, 1);
--ctaBgColor: rgba(255, 117, 26, 1);
--ctaNum: rgb(133, 133, 224);
--ctaBtnBg: rgba(46, 46, 184, 1);
--bgRotate: transform: rotate(-10deg);
}

* {box-sizing: border-box; margin:0; padding: 0; scroll-behavior: smooth}

body {
	font-family: Roboto, serif;
	color: var(--stdTxt);
	background-color: var(--stdBgColor);
}

#wrapper {
	width: 100%;
}

/*utilities*/

.flxCtr {display: flex; justify-content: center; align-items: center}
.flxCol {display: flex; flex-direction: column; align-items: center; justify-content: center}
.ctaBtn {
	cursor: pointer;
	height: 2rem;
	width: 6rem;
	padding: 0.5rem;
	color: white;
	background-color: var(--ctaBtnBg);
	border-style: none;
	text-transform: capitalize;
}

/*animation*/

@keyframes lLoad {
	from {
		left: -50px;
		opacity: 0;
	} to {
		left: 0;
		opacity: 1;
	}
}

@keyframes rLoad {
	from {
		right: -50px;
		opacity: 0;
	} to {
		right: 0;
		opacity: 1;
	}
}

@keyframes upLoad {
	from {
		top: -50px;
		opacity: 0;
	} to {
		top: 0;
		opacity: 1;
	}
}

@keyframes downLoad {
	from {
		bottom: -50px;
		opacity: 0;
	} to {
		bottom: 0;
		opacity: 1;
	}
}

/*header container*/

#containerHeader {
	width: 100%;
	height: 4rem;
	justify-content: space-around;
	background-color: var(--secBgColor);
}

#logoComp span{
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
	margin-left: 1rem;
}

#compLogo img {
	height: 30px;
	border-radius: 50%;
}

#navMenu {
	height: 100%;
	font-size: 0.9rem;
}

#register {
	margin-top: 0.3rem;;
}

.navItems {
	align-content: center;
	height: 70%;
	font-family: Roboto, serif;
	text-transform: capitalize;
	text-decoration: none;
	color: var(--secTxt);
	padding-top: .9rem;
	margin:  0 0.5rem;
}

.navItems:hover {
	border-bottom: 1px solid white;
}

/*welcome container*/

#containerWelcome {
	height: 30rem;
	width: 100%;
	color: white;
	background: url(secBg.png);
	background-position: 100% 75%;
	/*background: linear-gradient(rgba(71, 71, 209, 1), rgba(255, 255, 255, 0));*/
}

#welcFig {
	position: relative;
	width: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	animation: rLoad 1s;
}

.resp {
	width: 80%;
	height: auto;
}

#containerWelcFeedback {
	position: relative;
	padding: 0 0 5rem 10rem;
	max-width: 50%;
	justify-content: space-between;
	align-items: flex-start;
	animation: lLoad 1s;
}

#wlcFdbkInpt {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#wlcFdbkTxt p {
	margin: 2rem 0;
}

#compName {
	cursor: text;
	width: 10rem;
	font-size: 0.7rem;
	margin-right: 0.22rem;
}

#compName:focus {
	outline: none;
}

#lblTakeAlook {
	font-size: 0.7rem;
}

#takeAlookBtn {
	font-family: Roboto, serif;
	width: 2rem;
}

#takeAlookTxt, #compName {
	font-size: 13.33px;
}

#topDown {
	position: absolute;
	color: gray;
	text-align: center;
	font-size: 1.5rem;
	bottom: -25;
	left: 160;
	border-radius: 50%;
	border-style: none;
	width: 40px;
	height: 40px;
	border: 1px solid lightgray;
	text-decoration: none;
	background-color: white;
	transition: box-shadow ease 0.3s;
}

#topDown:hover {
	cursor: pointer;
	box-shadow: 2px 3px 5px;
}

/*advantage container*/

#containerAdvantages {
	position: relative;
	max-width: 70%;
	animation: upLoad 1s;
}

.advCards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 0.9rem;
	text-align: center;
	margin: 1rem;
	padding: 0 0.8rem;
	max-width: 25rem;
	height: 10rem;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	transition: transform ease 0.3s;
}

.advCards:hover {
	background-color: var(--ctaBgColor);
	transform: scale(1.1);
}

.advOrder {
	position: absolute;
	font-size: 1.2rem;
	width: 50px;
	height: 50px;
	top: -30;
	color: var(--ctaNum);
	background-color: white;
	border-radius: 50%;
	box-shadow: 2px 3px 5px lightgray;
}

h3 {
	margin-bottom: 0.3rem;
}

h3::first-letter {
	text-transform: capitalize;
}

/*automate container*/

#containerAutomate {
	max-width: 80%;
}

#autoCont {
	position: relative;
	max-width: 90%;
	margin: 2rem 0;
	animation: lLoad 1s;
}

#autoContRev {
	position: relative;
	flex-direction: row-reverse;
	max-width: 90%;
	margin: 2rem 0;
	animation: rLoad 1s;
}

#autoCont figure img, #autoContRev figure img{
	max-width: 80%;
	overflow: hidden;
}

.autoTxt {
	width: 30%;
	padding: 1rem;
}

.autoTxt h2, .autoTxt p {
	margin-bottom: 2rem;
}

.autoTxt h2::first-letter, .autoTxt p::first-letter {
	text-transform: capitalize;
}

.learnBtn {
	width: 8rem;
	height: 2.5rem;
	border-radius: 0.2rem;
	color: var(--ctaBgColor);
	background-color: var(--stdBgColor);
	border: 1px solid var(--ctaBgColor);
}

.learnBtn::first-letter {
	text-transform: capitalize;
}

.learnBtn:hover {
	cursor: pointer;
	background-color: var(--ctaBgColor);
	color: white;
}

/*Enterprise container*/

#containerEnterprise {
	position: relative;
	max-width: 100%;
	margin: 3rem auto;
	background: url(pxlBg.png);
	background-repeat: no-repeat;
	background-size: 100% 75%;
	animation: upLoad 1s;
}

#containerEnterprise .advCards {
	color: white;
}

#ratedCont {
	text-transform: capitalize;
	text-align: center;
	margin: 3rem auto;
}

#ratedCont h2{
	color: white;
}

#enterpCards {
	position: relative;
	max-width: 70%;
}

#customerCont {
	margin: 3rem auto;
	width: 60%;
	height: 10rem;
	background-color: var(--stdBgColor);
	box-shadow: 2px 3px 5px lightgray;
}

#customerCont h3 {
	margin: 1rem auto;
	letter-spacing: 0.1rem;
}

/*Reviews container*/

#containerReviews {
	position: relative;
	margin-bottom: 3rem;
	animation: downLoad 1s;
}

#reviewTxt {
	margin: 0 auto 2rem;
	text-align: center;
}

#reviewTxt::first-letter, #reviewTxt p::first-letter {
	text-transform: capitalize;
}

#rvwCarousel {
	position: relative;
	overflow: hidden;
	width: 70%;
	height: 10rem;
}

.carouselCard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 40%;
	height: 90%;
	margin:0 0.8rem 0 3rem;
	padding: 0 2rem 0 4rem;
	border-radius: 0.3rem;
	box-shadow: 2px 3px 5px lightgray;
}

.reviews {
	max-width: 100%;
	height: 100%;
}

#rvwCarousel .reviews{
	display: flex;
	justify-content: center;
	align-items: center
}

.carouselCard img {
	position: absolute;
	top: 22;
	left: -50;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: 2px 3px 5px lightgray;
}

.cltName {
	text-transform: capitalize;
	font-weight: bold;
}

.cltTestimonial {
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

.cltCompany {
	font-size: 0.9rem;
	text-transform: capitalize;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 1rem 0.2rem 0;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover {
	background-color: var(--ctaBgColor);
}

#prevBtn, #nextBtn {
	cursor: pointer;
	position: absolute;
	text-align: center;
	width: 25px;
	height: 25px;
	transition: background-color ease 0.2s;
}

#prevBtn:hover, #nextBtn:hover {
	background-color: rgba(0,0,0, .1);
}

#prevBtn {
	left: 0;
}

#nextBtn {
	right: 0;
}

/*footer container*/

#containerFooter {
	width: 80%;
}

#aboutCont {
	justify-content: space-evenly;
	align-items: flex-start;
	width: 80%;
	margin: 1rem auto;
}

#aboutCont img {
	width: 20px;
	height: 20px;
	margin: 1rem 0.5rem 0 0;
}

#aboutCont h3{
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

#aboutCont a {
	text-decoration: none;
	line-height: 1.5rem;
}

#aboutCont a, #aboutCont p{
	font-size: 0.8rem;
}

.aboutFItem {
	align-items: flex-start;
	max-width: 30%;
	margin-left: 1rem;

}

#copyright {
	text-align: center;
	margin: 2rem auto;
	font-size: 0.8rem;
}

@media (max-width: 800px) {

#containerWelcFeedback {
	padding: 0 0 5rem 5rem;
}

#topDown {
	top: 300;
	left: 100;
}

#containerAdvantages {
	max-width: 95%;
}

#containerAutomate {
	max-width: 100%;
}

#enterpCards {
	max-width: 90%;
}

#rvwCarousel {
	width: 90%;
}

#containerFooter {
	width: 100%;
}

}

@media (min-width: 1400px) {

#containerWelcome {
	background-position: 100% 87%;
}

#welcFig {
	width: 40%;
}

.resp {
	max-width: 100%;
}

}

@media (max-width: 576px) {

#containerHeader {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: var(--ctaBtnBg);
}

#register {
	display: none;
}

#logoComp {
	margin-top: 1rem;
}

#navMenu {
	display: block;
	padding: 1.5rem 0;
}

#containerWelcome {
	display: flex;
	flex-direction: column;
	height: auto;
	background-position: 100% 50%;
}

#containerWelcFeedback {
	max-width: 90%;
	padding: 0;
}

#topDown {
	top: 320;
	left: 0;
	z-index: 1;
}

#welcFig {
	width: 100%;
}

#containerAdvantages {
	display: block;
	height: auto;
}

#containerAdvantages .advCards {
	margin: 3rem 1rem;
}

#autoCont, #autoContRev, #enterpCards, .autoTxt {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.autoTxt {
	margin: 0;
	width: 90%;
	padding: 1rem;
}

.autoTxt h2, .autoTxt p {
	text-align: center;
}


#containerEnterprise {
	margin: 0;
	background-size: 100% 93%;
}

#enterpCards .advCards {
	margin: 1.6rem 1rem;
}

#customerCont {
	margin: 0 auto;
	width: 90%;
	height: 8rem;
}

#customerCont h3 {
	margin: 1rem auto;
	letter-spacing: 0;
}

#containerReviews {
    margin: 3rem auto;
}

#aboutCont {
	width: 95%;
	margin: 0;
}

#rvwCarousel {
	max-width: 90%;
	height: auto;
}

#reviewTxt {
    margin: 0 auto 1rem;
}

#rvwCarousel .reviews{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}

#rvwCarousel .carouselCard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 70%;
	height: 10rem;
	margin: 1rem 0 1rem 0;
	padding: 0 2rem 0 4rem;
}

#copyright {
	margin: 1rem auto;
}

#aboutFig {
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
	justify-content: center;
	max-width: 80%;
}

#aboutFig a {
	margin: 0.2rem;
}

.dot {
	display: none;
}

}
